<section>
	<h2>You are logged out from all devices</h2>
	<p>Hello, {{name}}!</p>
	<p>You have successfully signed out of all devices.</p>
	<p>If it was not you, please contact support.</p>
</section>
